.footer {
  background-color: rgb(33, 45, 69);
  border-top: 1px solid rgba(207, 196, 196, 0.313);
}

.footer__container {
  padding: 2rem 0 3rem;
}

.footer__title,
.footer__link {
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link:hover {
  color: rgb(28, 195, 195);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  background-color: black;
  color: white;
  font-size: 1.125rem;
  padding: 0.4em 0.6em;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer__social-link:hover {
  background-color: var(--title-color-dark);
}

.footer__coded {
  display: block;
  margin-top: 2.8rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

.footer__copy {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  font-size: var(--smaller-font-size);
}

.footer__title {
  text-align: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .footer__social-link {
    padding: 0.25em 0.35em;
    border-radius: 0.3rem;
  }
  .footer__container {
    padding: 1.5rem 0 2rem;
  }
  .footer__copy {
    margin-top: 3.2rem;
  }
  .footer__coded {
    display: block;
    margin-top: 3rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
  }

  .footer__copy {
    color: var(--title-color);
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    font-size: var(--smaller-font-size);
  }
}
